.two-column-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.column-1 h1,
.column-1 h2,
.column-1 h3,
.column-1 h4,
.column-1 h5,
.column-1 h6 {
  margin-bottom: 1rem;
}

.column-link {
   background-color: transparent;
    border-radius: 0;
    color: #e4032e !important;
     border: 1px solid #e4032e;
     padding:5px 10px;
}

.two-column-wrapper p{
font-family: "Overpass", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.4;
    margin-bottom: 1.5rem;
}
.two-column-wrapper h2{
  color: #e4032e !important;
      margin-bottom: 0.5rem;
    font-weight: 700;
    line-height: 1.2;
    font-size: 3.125rem;
    margin-top:0.5rem;
    text-transform: uppercase;
}
.two-column-wrapper h3{
  
    text-transform: uppercase;
        font-size: 1.875rem;
        font-weight: 700;
    line-height: 1.2;
}
.columns-2-cols .button:hover,.columns-2-cols .button:focus,.columns-2-cols .button:active
{
    color: #fff;
    background-color: #e4032e;
    border-color: #e4032e;
}

@media (max-width: 768px) {
  .two-column-wrapper {
    grid-template-columns: 1fr;
  }
}
