.splide__slide img {
    width:100% !important;
}
.singleslider__slide-wrap{
    position:relative;
}
.singleslider__content{
    position:absolute;
    top:5%;
    left:10%;
}
.singleslider__content h2{
    color:#000;
    font-size:3rem;
    font-weight: 800;
    width:25%;
}
.singleslider__content p{
    color:#fff;
    font-size:1.5rem;
    font-weight: 500;
    width:50%;
}